SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/09022019_iLOV_EcCheA_30sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/09022019_iLOV_EcCheA_30sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/09022019_iLOV_EcCheA_nolight.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/09022019_iLOV_EcCheA_nolight.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/cwEPR_iLAWVersusTariLAW.opj
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/iLOVCheAW_RT_2minirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/iLOVCheAW_RT_2minirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/iLOVCheAW_RT_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/iLOVCheAW_RT_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/Tar_iLAW_BL21_37C_3h_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/Tar_iLAW_BL21_37C_3h_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/Tar_iLAW_BL21_37C_3h_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/Tar_iLAW_BL21_37C_3h_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/ENDOR/042319_iLAW_BL21_DaviesENDOR_200K.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/ENDOR/042319_iLAW_BL21_DaviesENDOR_200K.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/062323_iLAWTar_BL21/iLAWpACYC_TarpET28a_BL21_37C_3hrs_irrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/062323_iLAWTar_BL21/iLAWpACYC_TarpET28a_BL21_37C_3hrs_irrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/062323_iLAWTar_BL21/iLAWpET28a_TarpCDF_BL21_37C_3hrs_irrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/062323_iLAWTar_BL21/iLAWpET28a_TarpCDF_BL21_37C_3hrs_irrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Apr27_iLAW_Tar_BL21/iLoV_EcA_EcW_pet28Duet_TarpCDF_BL21_37C3h_RT.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Apr27_iLAW_Tar_BL21/iLoV_EcA_EcW_pet28Duet_TarpCDF_BL21_37C3h_RT.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Apr27_iLAW_Tar_BL21/iLoV_EcA_EcW_pet28Duet_TarpCDF_BL21_37C3h_RT_afterirradiation.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Apr27_iLAW_Tar_BL21/iLoV_EcA_EcW_pet28Duet_TarpCDF_BL21_37C3h_RT_afterirradiation.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Aug9_iLOVCheA/iLOVCheA_RT_2minirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Aug9_iLOVCheA/iLOVCheA_RT_2minirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Aug9_iLOVCheA/iLOVCheA_RT_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Aug9_iLOVCheA/iLOVCheA_RT_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_17C_ON_5mmAsp_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_17C_ON_5mmAsp_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_17C_ON_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_17C_ON_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5mmAsp_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5mmAsp_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5mmAsp_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5mmAsp_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Sep2_iLOVCheA/09022019_iLOV_EcCheA_30sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Sep2_iLOVCheA/09022019_iLOV_EcCheA_30sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Sep2_iLOVCheA/09022019_iLOV_EcCheA_nolight.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Sep2_iLOVCheA/09022019_iLOV_EcCheA_nolight.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/ImportcwEPR.py
SI/FigS10_iLOVCheAEPR_ToSortout/ImportDavies.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/automatic_phase.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/basecorr1D.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/eprload_BrukerBES3T.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/eprload_BrukerESP.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/ImportMultipleFiles_FigS10.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/automatic_phase.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/basecorr1D.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/eprload_BrukerBES3T.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/eprload_BrukerESP.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/ImportMultipleFiles_FigS10.py
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_1BlankH2O_M=2G.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_1BlankH2O_M=2G.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo100uM_M=1G.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo100uM_M=1G.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo10uM_M=1G.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo10uM_M=1G.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo200uM_M=1G.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo200uM_M=1G.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo20uM_M=1G.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo20uM_M=1G.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo500uM_M=1G.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo500uM_M=1G.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo50uM_M=1G.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/241210_Tempo50uM_M=1G.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/Figures/figure1.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/Figures/figure2.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/Figures/figure3.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/Figures/figure4.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/Figures/figure5.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/Figures/figure6.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/1D/Figures/figure7.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_Cap2IncubationOvernight_kin1.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_Cap2IncubationOvernight_kin1.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_Cap2IncubationOvernight_kin1.YGF
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_kin1.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_kin1.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_kin1.YGF
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_kin2.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_kin2.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_kin2.YGF
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_kin3.DSC
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_kin3.DTA
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/241210_iLOV_CheA_M=2G_kin3.YGF
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figure0.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figure1.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figure2.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figure3.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figureKin0.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figureKin1.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figureKin2.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figureKin3.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figureKinFt0.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figureKinFt1.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figureKinFt2.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/2D/Figures/figureKinFt3.png
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/FigS11_ImportcwEPRQuantification_1D.py
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/FigS11_ImportcwEPRQuantificationKin.py
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/FigS11_SliceExtraction.py
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/PythonUtilities/automatic_phase.py
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/PythonUtilities/basecorr1D.py
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/PythonUtilities/eprload_BrukerBES3T.py
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/PythonUtilities/eprload_BrukerESP.py
SI/FigS11_iLOVCheADegradation/241210_KineticDegradation_iLOVCheA_ToSimplify/PythonUtilities/ImportMultipleFiles_FigS11.py
SI/FigS11_iLOVCheADegradation/Calculation_ESRDoubleIntegral.xlsx
SI/FigS11_iLOVCheADegradation/RTCwESR.opj
SI/FigS12_iLOVCheA4PDeer/BackgroundUsed .txt
SI/FigS12_iLOVCheA4PDeer/Deer/Data/240524_TariLAW_MinMedia_4PDeer1.6us_180K.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Data/240624_TariLawATP_Asp_Cap4_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Data/240625_TariLawATP_Ni_Cap2_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Data/240626_TariLawATP_Cap5_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Pr/Pr_240524_TariLAW_MinMedia_4PDeer1.6us_180K.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Pr/Pr_240624_TariLawATP_Asp_Cap4_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Pr/Pr_240625_TariLawATP_Ni_Cap2_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Pr/Pr_240626_TariLawATP_Cap5_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/1D/240524_TariLAW_MinMedia_4PDeer1.6us_180K.DSC
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/1D/240524_TariLAW_MinMedia_4PDeer1.6us_180K.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/1D/240524_TariLAW_MinMedia_4PDeer1.6us_180K.DTA
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/1D/DeerParam.csv
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/240624_TariLawATP_Asp_Cap4_4PDeer.DSC
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/240624_TariLawATP_Asp_Cap4_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/240624_TariLawATP_Asp_Cap4_4PDeer.DTA
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/240625_TariLawATP_Ni_Cap2_4PDeer.DSC
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/240625_TariLawATP_Ni_Cap2_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/240625_TariLawATP_Ni_Cap2_4PDeer.DTA
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/240626_TariLawATP_Cap5_4PDeer.DSC
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/240626_TariLawATP_Cap5_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/240626_TariLawATP_Cap5_4PDeer.DTA
SI/FigS12_iLOVCheA4PDeer/Deer/RawData/2D/DeerParam.csv
SI/FigS12_iLOVCheA4PDeer/Deer/Reconstructed/Reconstructed_240524_TariLAW_MinMedia_4PDeer1.6us_180K.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Reconstructed/Reconstructed_240624_TariLawATP_Asp_Cap4_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Reconstructed/Reconstructed_240625_TariLawATP_Ni_Cap2_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Deer/Reconstructed/Reconstructed_240626_TariLawATP_Cap5_4PDeer.DSC.txt
SI/FigS12_iLOVCheA4PDeer/Import4PDeer1D_FigS12.py
SI/FigS12_iLOVCheA4PDeer/Import4PDeer2D_FigS12.py
SI/FigS12_iLOVCheA4PDeer/ImportSVDTreatment_FigS12.py
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/__pycache__/automatic_phase.cpython-311.pyc
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/__pycache__/basecorr1D.cpython-311.pyc
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/__pycache__/DeerTools.cpython-311.pyc
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/__pycache__/eprload_BrukerBES3T.cpython-311.pyc
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/__pycache__/eprload_BrukerESP.cpython-311.pyc
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/__pycache__/fdaxis.cpython-311.pyc
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/__pycache__/windowing.cpython-311.pyc
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/automatic_phase.py
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/basecorr1D.py
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/DeerTools.py
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/eprload_BrukerBES3T.py
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/eprload_BrukerESP.py
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/fdaxis.py
SI/FigS12_iLOVCheA4PDeer/PythonUtilities/windowing.py
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/241022_1BlankH2o_M=2G.DSC
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/241022_1BlankH2o_M=2G.DTA
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/AerCheACheW_BL21_37C.DSC
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/AerCheACheW_BL21_37C.DTA
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/AerCheACheW_BL21_37C_IPTG.DSC
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/AerCheACheW_BL21_37C_IPTG.DTA
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/AerCheACheW_BL21_37C_IPTG_repeat.DSC
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/AerCheACheW_BL21_37C_IPTG_repeat.DTA
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/AerCheACheW_BL21_37C_repeat.DSC
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/AerCheACheW_BL21_37C_repeat.DTA
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/BL21_37C.DSC
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/BL21_37C.DTA
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/BL21_37C_IPTG.DSC
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/BL21_37C_IPTG.DTA
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Blank.tif
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Calculation_ESRDoubleIntegral.xlsx
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/CheACheW_BL21_37C.DSC
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/CheACheW_BL21_37C.DTA
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/CheACheW_BL21_37C_IPTG.DSC
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/CheACheW_BL21_37C_IPTG.DTA
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Figures/figure1.png
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Figures/figure2.png
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Figures/figure3.png
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Figures/figure4.png
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Figures/figure5.png
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Figures/figure6.png
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Figures/figure7.png
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Figures/figure8.png
SI/FigS1_InVivo_Controls/032623_AerCheACheW_BL21/Figures/figure9.png
SI/FigS1_InVivo_Controls/Data/CalibrationScale.opj
SI/FigS1_InVivo_Controls/FigS1_InVivo_Controls.pptx
SI/FigS1_InVivo_Controls/Figures/Graph1.tif
SI/FigS1_InVivo_Controls/Figures/InVivoControl+-IPTG.tif
SI/FigS1_InVivo_Controls/Figures/InVivoControl+IPTG.tif
SI/FigS1_InVivo_Controls/Figures/InVivoControl-IPTG.tif
SI/FigS1_InVivo_Controls/FigureS1.opj
SI/FigS1_InVivo_Controls/FigureS1.tif
SI/FigS1_InVivo_Controls/FigureS1b.tif
SI/FigS1_InVivo_Controls/ImportcwEPRQuantification.py
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/1_20240223_Blank_M=2G.DSC
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/1_20240223_Blank_M=2G.DTA
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo100uM_M=2G.DSC
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo100uM_M=2G.DTA
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo10uM_M=2G.DSC
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo10uM_M=2G.DTA
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo200uM_M=0.5G.DSC
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo200uM_M=0.5G.DTA
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo200uM_M=2G.DSC
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo200uM_M=2G.DTA
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo20uM_M=2G.DSC
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo20uM_M=2G.DTA
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo500uM_M=0.5G.DSC
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo500uM_M=0.5G.DTA
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo500uM_M=2G.DSC
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo500uM_M=2G.DTA
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo50uM_M=2G.DSC
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/20240223_Tempo50uM_M=2G.DTA
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/Calculation_ESRDoubleIntegral.xlsx
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/ControlAer_2024.opj
SI/FigS1_InVivo_Controls/RepeatControl_WithoutBL21/ImportcwEPRQuantification.py
SI/FigS2_CwMutants/FigS2.py
SI/FigS2_CwMutants/FigureS2.opj
SI/FigS2_CwMutants/PythonUtilities/basecorr1D.py
SI/FigS2_CwMutants/PythonUtilities/eprload_BrukerBES3T.py
SI/FigS2_CwMutants/PythonUtilities/eprload_BrukerESP.py
SI/FigS2_CwMutants/PythonUtilities/ImportMultipleFiles.py
SI/FigS2_CwMutants/RawData/09102019_Aer_193_203_BL21.DSC
SI/FigS2_CwMutants/RawData/09102019_Aer_193_203_BL21.DTA
SI/FigS2_CwMutants/RawData/09102019_Aer_93_193_203_BL21.DSC
SI/FigS2_CwMutants/RawData/09102019_Aer_93_193_203_BL21.DTA
SI/FigS2_CwMutants/RawData/09102019_Aer_BL21.DSC
SI/FigS2_CwMutants/RawData/09102019_Aer_BL21.DTA
SI/FigS3_AerNoCheAW/Deer/Data/031319_Aer_EcCheA_EcCheW_BL21_150K_DEER_2500ns.DSC
SI/FigS3_AerNoCheAW/Deer/Data/031319_Aer_EcCheA_EcCheW_BL21_150K_DEER_2500ns.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Data/031319_Aer_EcCheA_EcCheW_BL21_150K_DEER_2500ns.DTA
SI/FigS3_AerNoCheAW/Deer/Data/031519_Aer_EcCheA_EcCheW_BL21_150K_DEER_3200ns.DSC
SI/FigS3_AerNoCheAW/Deer/Data/031519_Aer_EcCheA_EcCheW_BL21_150K_DEER_3200ns.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Data/031519_Aer_EcCheA_EcCheW_BL21_150K_DEER_3200ns.DTA
SI/FigS3_AerNoCheAW/Deer/Data/112118_AerInvivoBL21_4Pdeer2500ns_150K_Phased.DSC
SI/FigS3_AerNoCheAW/Deer/Data/112118_AerInvivoBL21_4Pdeer2500ns_150K_Phased.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Data/112118_AerInvivoBL21_4Pdeer2500ns_150K_Phased.DTA
SI/FigS3_AerNoCheAW/Deer/Data/240418_AerNoCheACheW_Rib_4PDeer_2.5us.DSC
SI/FigS3_AerNoCheAW/Deer/Data/240418_AerNoCheACheW_Rib_4PDeer_2.5us.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Data/240418_AerNoCheACheW_Rib_4PDeer_2.5us.DTA
SI/FigS3_AerNoCheAW/Deer/Data/240418_AerNoCheACheW_Rib_4PDeer_3us.DSC
SI/FigS3_AerNoCheAW/Deer/Data/240418_AerNoCheACheW_Rib_4PDeer_3us.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Data/240418_AerNoCheACheW_Rib_4PDeer_3us.DTA
SI/FigS3_AerNoCheAW/Deer/Data/240805_AerEcAW_Rib_Cap3_4PDeer_3_5us_Phased_1D.DSC
SI/FigS3_AerNoCheAW/Deer/Data/240805_AerEcAW_Rib_Cap3_4PDeer_3_5us_Phased_1D.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Data/240805_AerEcAW_Rib_Cap3_4PDeer_3_5us_Phased_1D.DTA
SI/FigS3_AerNoCheAW/Deer/Data/240805_AerEcAW_Rib_Cap3_4PDeer_3us_1D.DSC
SI/FigS3_AerNoCheAW/Deer/Data/240805_AerEcAW_Rib_Cap3_4PDeer_3us_1D.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Data/240805_AerEcAW_Rib_Cap3_4PDeer_3us_1D.DTA
SI/FigS3_AerNoCheAW/Deer/Data/DeerParam.csv
SI/FigS3_AerNoCheAW/Deer/Data/DeerParamameters_FigS3.xlsx
SI/FigS3_AerNoCheAW/Deer/Pr/Pr_031319_Aer_EcCheA_EcCheW_BL21_150K_DEER_2500ns.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Pr/Pr_031519_Aer_EcCheA_EcCheW_BL21_150K_DEER_3200ns.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Pr/Pr_112118_AerInvivoBL21_4Pdeer2500ns_150K_Phased.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Pr/Pr_240418_AerNoCheACheW_Rib_4PDeer_2.5us.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Pr/Pr_240418_AerNoCheACheW_Rib_4PDeer_3us.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Pr/Pr_240805_AerEcAW_Rib_Cap3_4PDeer_3_5us_Phased_1D.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Pr/Pr_240805_AerEcAW_Rib_Cap3_4PDeer_3us_1D.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Reconstructed/Reconstructed_031319_Aer_EcCheA_EcCheW_BL21_150K_DEER_2500ns.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Reconstructed/Reconstructed_031519_Aer_EcCheA_EcCheW_BL21_150K_DEER_3200ns.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Reconstructed/Reconstructed_112118_AerInvivoBL21_4Pdeer2500ns_150K_Phased.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Reconstructed/Reconstructed_240418_AerNoCheACheW_Rib_4PDeer_2.5us.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Reconstructed/Reconstructed_240418_AerNoCheACheW_Rib_4PDeer_3us.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Reconstructed/Reconstructed_240805_AerEcAW_Rib_Cap3_4PDeer_3_5us_Phased_1D.DSC.txt
SI/FigS3_AerNoCheAW/Deer/Reconstructed/Reconstructed_240805_AerEcAW_Rib_Cap3_4PDeer_3us_1D.DSC.txt
SI/FigS3_AerNoCheAW/Figures/DistanceDomain_Comparison_InCell_Stacked.tif
SI/FigS3_AerNoCheAW/Figures/TimeDomain_Comp.tif
SI/FigS3_AerNoCheAW/Import4PDeerData_FigS3.py
SI/FigS3_AerNoCheAW/ImportSVDTreatment_Fig4.py
SI/FigS3_AerNoCheAW/ImportSVDTreatment_FigS3.py
SI/FigS3_AerNoCheAW/PythonUtilities/__pycache__/automatic_phase.cpython-311.pyc
SI/FigS3_AerNoCheAW/PythonUtilities/__pycache__/basecorr1D.cpython-311.pyc
SI/FigS3_AerNoCheAW/PythonUtilities/__pycache__/DeerTools.cpython-311.pyc
SI/FigS3_AerNoCheAW/PythonUtilities/__pycache__/eprload_BrukerBES3T.cpython-311.pyc
SI/FigS3_AerNoCheAW/PythonUtilities/__pycache__/eprload_BrukerESP.cpython-311.pyc
SI/FigS3_AerNoCheAW/PythonUtilities/__pycache__/fdaxis.cpython-311.pyc
SI/FigS3_AerNoCheAW/PythonUtilities/__pycache__/windowing.cpython-311.pyc
SI/FigS3_AerNoCheAW/PythonUtilities/automatic_phase.py
SI/FigS3_AerNoCheAW/PythonUtilities/basecorr1D.py
SI/FigS3_AerNoCheAW/PythonUtilities/DeerTools.py
SI/FigS3_AerNoCheAW/PythonUtilities/eprload_BrukerBES3T.py
SI/FigS3_AerNoCheAW/PythonUtilities/eprload_BrukerESP.py
SI/FigS3_AerNoCheAW/PythonUtilities/fdaxis.py
SI/FigS3_AerNoCheAW/PythonUtilities/windowing.py
SI/FigS4_cwESRFit/Data/CW_2H14N_Sim.txt
SI/FigS4_cwESRFit/Data/CW_2H15N_Sim.txt
SI/FigS4_cwESRFit/Data/CW_2HN14.tif
SI/FigS4_cwESRFit/Data/CW_2HN15.tif
SI/FigS4_cwESRFit/Data/CW_Isotope.m
SI/FigS4_cwESRFit/Data/CW_Isotope.tif
SI/FigS4_cwESRFit/Data/CW_Isotope.txt
SI/FigS4_cwESRFit/Data/CW_Isotope_Sim.m
SI/FigS4_cwESRFit/FigureS4_twoColumnVersion.png
SI/FigS4_cwESRFit/FigureS4_twoColumnVersion.tif
SI/FigS4_cwESRFit/FiguresS4_2ColumnVersion.pptx
SI/FigS5_3PEseem/FigS5.png
SI/FigS5_3PEseem/FigS5.tif
SI/FigS5_3PEseem/FigS5_2ColumnVersion.pptx
SI/FigS6_T1VersusTemperature/Data_matlab/T1_1HN14.txt
SI/FigS6_T1VersusTemperature/Data_matlab/T1_1HN15.txt
SI/FigS6_T1VersusTemperature/Data_matlab/T1_2HN14.txt
SI/FigS6_T1VersusTemperature/Data_matlab/T1_2HN15.txt
SI/FigS6_T1VersusTemperature/Data_matlab/T1_Isotope.m
SI/FigS6_T1VersusTemperature/Data_matlab/T1_Isotope.tif
SI/FigS6_T1VersusTemperature/FigS6.png
SI/FigS6_T1VersusTemperature/FigS6.pptx
SI/FigS6_T1VersusTemperature/FigS6.tif
SI/FigS6_T1VersusTemperature/Graph1_T1.tif
SI/FigS6_T1VersusTemperature/Graph1_T1_LogScale.tif
SI/FigS6_T1VersusTemperature/Graph1_T1a.tif
SI/FigS6_T1VersusTemperature/RelaxationTimesCompilation.opj
SI/FigS7_2HMimsEndor/041019_ResultMimsENDOR_D2O.opj
SI/FigS7_2HMimsEndor/Data/040619_Aer_EcA_EcW_100pD2O_150K_Mims_Deuterium.dat
SI/FigS7_2HMimsEndor/Data/040619_Aer_EcA_EcW_100pD2O_150K_Mims_Deuterium.DSC
SI/FigS7_2HMimsEndor/Data/040619_Aer_EcA_EcW_100pD2O_150K_Mims_Deuterium.DTA
SI/FigS7_2HMimsEndor/Data/04102019_Aer_EcAW_150K_MimsVsTau_NewAmp.dat
SI/FigS7_2HMimsEndor/Data/04102019_Aer_EcAW_150K_MimsVsTau_NewAmp.DSC
SI/FigS7_2HMimsEndor/Data/04102019_Aer_EcAW_150K_MimsVsTau_NewAmp.DTA
SI/FigS7_2HMimsEndor/FigS7.png
SI/FigS7_2HMimsEndor/FigS7.pptx
SI/FigS7_2HMimsEndor/FigS7.tif
SI/FigS8_2HBufferExchange/20240725_T1Plot_Temp.opj
SI/FigS8_2HBufferExchange/240725_ResultsENDOR.opj
SI/FigS8_2HBufferExchange/FigS8.png
SI/FigS8_2HBufferExchange/FigS8.pptx
SI/FigS8_2HBufferExchange/FigS8.tif
SI/FigS8_2HBufferExchange/FigS8gif
SI/FigS8_2HBufferExchange/Figures/Comp1H_150K.gif
SI/FigS8_2HBufferExchange/Figures/Comp2H_150K.gif
SI/FigS8_2HBufferExchange/Figures/Tm_Fitting_Monoexponential.gif
SI/FigS8_2HBufferExchange/JulyTm_AerECAW.opj
SI/FigS8_2HBufferExchange/RawData/240725_ImportENDOR.py
SI/FigS8_2HBufferExchange/RawData/ENDORMeasurements/Davies/240725_AerEcAW_D2O_Cap1_1HDavies.DSC
SI/FigS8_2HBufferExchange/RawData/ENDORMeasurements/Davies/240725_AerEcAW_D2O_Cap1_1HDavies.DTA
SI/FigS8_2HBufferExchange/RawData/ENDORMeasurements/Davies/240725_AerEcAW_D2O_Cap1_2HDavies.DSC
SI/FigS8_2HBufferExchange/RawData/ENDORMeasurements/Davies/240725_AerEcAW_D2O_Cap1_2HDavies.DTA
SI/FigS8_2HBufferExchange/RawData/ENDORMeasurements/Mims/240725_AerEcAW_D2O_Cap1_2HMims.DSC
SI/FigS8_2HBufferExchange/RawData/ENDORMeasurements/Mims/240725_AerEcAW_D2O_Cap1_2HMims.DTA
SI/FigS8_2HBufferExchange/RawData/ImportT1SRT_240727.py
SI/FigS8_2HBufferExchange/RawData/ImportTmParameters_July2024.py
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/T1/240725_AerEcAW_D2O_Cap1_T1SRT.DSC
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/T1/240725_AerEcAW_D2O_Cap1_T1SRT.DTA
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/T1/240727_AerEcAW_Cap1_T1_SRT.DSC
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/T1/240727_AerEcAW_Cap1_T1_SRT.DTA
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/T1/Figures/Graph150K.gif
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/T1/Figures/T1_SRTFit0.png
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/T1/Figures/T1_SRTFit1.png
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/Tm/240725_AerEcAW_D2O_Cap1_Tm.DSC
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/Tm/240725_AerEcAW_D2O_Cap1_Tm.DTA
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/Tm/240727_AerEcAW_Cap1_Tm_11989G.DSC
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/Tm/240727_AerEcAW_Cap1_Tm_11989G.DTA
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/Tm/Figures/figure0.png
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/Tm/Figures/figure1.png
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/Tm/Figures/ImaginaryPart_Tm.gif
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/Tm/Figures/Tm_Fitting_Monoexponential.gif
SI/FigS8_2HBufferExchange/RawData/RelaxationTime/Tm/Figures/Tm_Fitting_Stretchedexponential.gif
SI/FigS8_2HBufferExchange/RawData/ResultsFitting_July2024.xlsx
SI/TableS7/DistanceInterpretationToD.xlsx
