SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/09022019_iLOV_EcCheA_30sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/09022019_iLOV_EcCheA_30sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/09022019_iLOV_EcCheA_nolight.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/09022019_iLOV_EcCheA_nolight.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/cwEPR_iLAWVersusTariLAW.opj
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/iLOVCheAW_RT_2minirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/iLOVCheAW_RT_2minirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/iLOVCheAW_RT_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/iLOVCheAW_RT_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/Tar_iLAW_BL21_37C_3h_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/Tar_iLAW_BL21_37C_3h_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/Tar_iLAW_BL21_37C_3h_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/cwEPR/Tar_iLAW_BL21_37C_3h_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/ENDOR/042319_iLAW_BL21_DaviesENDOR_200K.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/ENDOR/042319_iLAW_BL21_DaviesENDOR_200K.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/062323_iLAWTar_BL21/iLAWpACYC_TarpET28a_BL21_37C_3hrs_irrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/062323_iLAWTar_BL21/iLAWpACYC_TarpET28a_BL21_37C_3hrs_irrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/062323_iLAWTar_BL21/iLAWpET28a_TarpCDF_BL21_37C_3hrs_irrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/062323_iLAWTar_BL21/iLAWpET28a_TarpCDF_BL21_37C_3hrs_irrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Apr27_iLAW_Tar_BL21/iLoV_EcA_EcW_pet28Duet_TarpCDF_BL21_37C3h_RT.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Apr27_iLAW_Tar_BL21/iLoV_EcA_EcW_pet28Duet_TarpCDF_BL21_37C3h_RT.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Apr27_iLAW_Tar_BL21/iLoV_EcA_EcW_pet28Duet_TarpCDF_BL21_37C3h_RT_afterirradiation.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Apr27_iLAW_Tar_BL21/iLoV_EcA_EcW_pet28Duet_TarpCDF_BL21_37C3h_RT_afterirradiation.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Aug9_iLOVCheA/iLOVCheA_RT_2minirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Aug9_iLOVCheA/iLOVCheA_RT_2minirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Aug9_iLOVCheA/iLOVCheA_RT_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Aug9_iLOVCheA/iLOVCheA_RT_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_17C_ON_5mmAsp_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_17C_ON_5mmAsp_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_17C_ON_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_17C_ON_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5mmAsp_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5mmAsp_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5mmAsp_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5mmAsp_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_5sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_noirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Jan22_Tar_iLAW_BL21_repeat/Tar_iLAW_BL21_37C_3h_noirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Sep2_iLOVCheA/09022019_iLOV_EcCheA_30sirrad.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Sep2_iLOVCheA/09022019_iLOV_EcCheA_30sirrad.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Sep2_iLOVCheA/09022019_iLOV_EcCheA_nolight.DSC
SI/FigS10_iLOVCheAEPR_ToSortout/Data/RawData/Sep2_iLOVCheA/09022019_iLOV_EcCheA_nolight.DTA
SI/FigS10_iLOVCheAEPR_ToSortout/ImportcwEPR.py
SI/FigS10_iLOVCheAEPR_ToSortout/ImportDavies.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/automatic_phase.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/basecorr1D.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/eprload_BrukerBES3T.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/eprload_BrukerESP.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/__pycache__/ImportMultipleFiles_FigS10.cpython-311.pyc
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/automatic_phase.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/basecorr1D.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/datasmooth.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/eprload_BrukerBES3T.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/eprload_BrukerESP.py
SI/FigS10_iLOVCheAEPR_ToSortout/PythonUtilities/ImportMultipleFiles_FigS10.py
